body {
    background: url(static/ron-whitaker-mVuKCYMGZBM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: darkgray;
    margin: 15px;
    font-family: Lato;
    color: aliceblue;
}

html {
    height: 100%;
}

main {
    padding-top: 5%;
}
#content {
    text-align: center;
    padding-top: 25%;  
    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);    
}

.card-body {
    background-color: rgba(3, 3, 3, 0.1);
}

hr {
    border: 0.5px solid;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

.navbar {
    border-radius: 15px 0;
    font-weight: 800;
    text-transform: capitalize;
}

a {
    color: rgba(01,01,01,.7);
}