body {
    background: url(static/ron-whitaker-mVuKCYMGZBM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(20, 20, 20);
    margin: 15px;
    font-family: Lato, sans-serif;
    color: aliceblue;
}

main.container {
    height: 80%;
}

main {
    padding-top: 5%;
}
#content {
    text-align: center;
    padding-top: 25%;  
    text-shadow:    0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);    
}

.card-body {
    background-color: rgba(3, 3, 3, 0.1);
}

hr {
    border: 0.5px solid;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}


a {
    color: rgba(01,01,01,.7);
}

#homepage {
    font-size: 2rem;
    color: aliceblue;
    
    text-shadow:    0px 4px 3px rgba(0, 0, 0, 0.6),
    0px 8px 13px rgba(0,0,0,0.2),
    0px 18px 23px rgba(0,0,0,0.2);
}

@media (max-width : 600px) {
    #homepage {
        font-size: 1.4rem;
    }
}

#contact {
    font-size: 2rem;
    text-shadow:    0px 4px 3px rgba(0, 0, 0, 0.6),
    0px 8px 13px rgba(0,0,0,0.2),
    0px 18px 23px rgba(0,0,0,0.2);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact a {
    color: aliceblue;
    font-size: 1.5rem;
}   

#navbarNav img {
    height: 80px;
    position: absolute;
    margin-top: 15px;
}

footer {
    position: absolute;
    bottom: 5px;
    color: rgba(132, 138, 155, 0.562);
}

@media (max-width : 600px) {
    footer {
        position: static;
    }
    #contact .contact-links {
        display: flex;
        flex-direction: column;
    }
}

#mainNavbar {
    transition: background 0.6s;
    border-radius: 15px 0;
    font-weight: 800;
    background-color: aliceblue;
}
#mainNavbar li{
    height: 2.5rem;
    width: fit-content;
}

#mainNavbar li:hover {
    border-bottom: rgb(100, 29, 29) solid 0.25rem;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    #mainNavbar {
        background: transparent;       
    }

    .navbar-toggler {
        background: aliceblue;
    }
    
    #mainNavbar a {
        color: aliceblue;
        text-transform: uppercase;
    }
    #mainNavbar .active a {
        color: rgb(228, 193, 148);

    }
    #mainNavbar li:hover {
        border-bottom: none;
    }
    #navbarNav img {
        display: none;
    }
}

/* Homepage animations */
#hi {
    opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    100% {
        opacity: 1
    }
}


#question {
    opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#answer {
    opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

#cta {
    opacity: 0;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}
