html,
body {
    background-image: url('../static/carl-raw-m3hn2Kn5Bns-unsplash.jpg');
    background-size: cover;
    color: rgb(159, 171, 184);
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* Scale canvas with resize attribute to full size */
canvas {
    width: 600px;
    height: 400px;
    background-color: black;
    border-radius: 10px;;
}

#container {  
    justify-content: space-between;
    margin: auto;
}

button {
    width: 100px;
    padding: 10px 0;
    border: none;
    text-transform: uppercase;
    background-color: rgb(0, 30, 128);
    color: greenyellow;
    font-weight: 700;
    border-radius: 8%;
}

button:hover {
    background-color: greenyellow;
    color: rgb(0, 30, 128);
    outline: none;
    box-shadow: 10px 5px 5px rgba(172, 255, 47, 0.26);

    
}


#controls {
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin: 20px
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: small;
    color: rgba(128, 128, 128, 0.719);
}

footer a {
    color: white
}